/* ### ALL ### */
body {
    font-family: Lato, sans-serif;
    font-size: 13px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: inherit;
}
[scroll='goScrollToForm'] {
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
}
[scroll='goScrollToForm']:hover,
.footer-links__link:hover {
    color: #43abf0;
}
.active {
    color: #43abf0;
}
/* ### HEADER ### */
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, 0.9);
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.logo:hover {
    color: inherit;
}
.logo .active {
    font-size: inherit;
}
.header-navigation {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.active {
    font-size: 16px;
}
/* ### MAIN ### */
.content-wrapper {
    height: 900px;
    background-image: url('../images/back.jpg');
    background-size: cover;
}
.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}
.content__header {
    text-transform: uppercase;
    font-size: 48px;
}
.content__header .active {
    font-size: inherit;
}
.description__header {
    font-size: 20px;
}
.description__item {
    font-size: 20px;
}
.description__item::before {
    content: '-';
    margin-right: 5px;
}
.content-buttons {
    display: flex;
    gap: 30px;
}
.content-buttons__button {
    font-size: 13px;
    padding: 15px 70px;
    background-color: #fff;
    text-transform: uppercase;
}
.blue-button {
    background-color: #3e9cdc;
    color: #fff;
}
.blue-button:hover {
    color: #fff;
}
/* ### FOOTER ### */
.footer-wrapper {
    background-color: rgba(61, 64, 80, 1);
    color: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    align-items: center;
}
.payments {
    color: #c3c3c3;
}
.footer-links {
    display: flex;
    gap: 40px;
}
.footer-links__item {
    display: flex;
    align-items: center;
}
.footer-links__link {
    transition-property: all;
    transition-duration: 0.5s;
}
