/* ### ALL ### */
body {
    font-family: Lato, sans-serif;
    font-size: 13px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: inherit;
}
[scroll='goScrollToForm'] {
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
}
[scroll='goScrollToForm']:hover,
.footer-links__link:hover {
    color: #43abf0;
}
.active {
    color: #43abf0;
}
/* ### HEADER ### */
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, 0.9);
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.logo:hover {
    color: inherit;
}
.logo .active {
    font-size: inherit;
}
.header-navigation {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.active {
    font-size: 16px;
}
/* ### MAIN ### */
/* ## CONTENT ## */
.content-wrapper {
    /* height: 900px; */
    background-image: url('../images/back.jpg');
    background-size: cover;
}
.content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}
.content__header {
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 300px;
}
.content__header .active {
    font-size: inherit;
}
.description__header {
    font-size: 20px;
}
.description__item {
    font-size: 20px;
}
.description__item::before {
    content: '-';
    margin-right: 5px;
}
.content-buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}
.content-buttons__button {
    font-size: 13px;
    padding: 15px 70px;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #6f6d7b;
}
.blue-button {
    background-color: #3e9cdc;
    color: #fff;
    border: 1px solid #fff;
}
.blue-button:hover {
    color: #fff;
}
/* ## FORM ## */
.form-wrapper {
    /* height: 900px; */
    background-color: #272733;
    position: relative;
}

.form-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url('../images/formbg.png');
    background-size: cover;
    z-index: 0;
}
.form {
    position: relative;
    color: #bbbbbb;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.form__header-block {
    margin-top: 150px;
}
.form__header {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.form__header .active {
    font-size: inherit;
}
.form__sub-header {
    text-align: center;
    font-size: 18px;
}
.order-form__submit {
    font-size: 13px;
    padding: 15px 100px;
    background-color: #3e9cdc;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
}
.steps {
    display: flex;
    align-items: center;
    gap: 10px;
}
.steps__group {
    display: flex;
}
.steps__item {
    text-align: center;
    width: 145px;
}
.steps__dots {
    display: flex;
    gap: 20px;
    align-items: center;
    transform: translateY(-25px);
}
.steps__text {
    font-size: 16px;
    color: #fff;
}
.order-form {
    margin-bottom: 200px;
}
/* ### FOOTER ### */
.footer-wrapper {
    background-color: rgba(61, 64, 80, 1);
    color: #fff;
    width: 100%;
    height: 80px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    align-items: center;
}
.payments {
    color: #c3c3c3;
}
.footer-links {
    display: flex;
    gap: 40px;
}
.footer-links__item {
    display: flex;
    align-items: center;
}
.footer-links__link {
    transition-property: all;
    transition-duration: 0.5s;
}
