/* ### ALL ### */
body {
    font-family: Lato, sans-serif;
    font-size: 13px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:-webkit-any-link {
    color: inherit;
}
[scroll='goScrollToForm'] {
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
}
[scroll='goScrollToForm']:hover,
.footer-links__link:hover {
    color: #43abf0;
}
/* ### HEADER ### */
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(16, 16, 29, 0.9);
    color: #fff;
    z-index: 2;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
.logo:hover {
    color: inherit;
}
.logo .active {
    font-size: inherit;
}
.header-navigation {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.active {
    font-size: 15px;
}
/* ### MAIN ### */
/* ## CONTENT ## */
.content-wrapper {
    /* height: 900px; */
    background-image: url('../images/back.jpg');
    background-size: cover;
}
.content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}
.content__header {
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 300px;
}
.content__header .active {
    font-size: inherit;
}
.description__header {
    font-size: 20px;
}
.description__item {
    font-size: 20px;
}
.description__item::before {
    content: '-';
    margin-right: 5px;
}
.content-buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}
.content-buttons__button {
    font-size: 13px;
    padding: 15px 70px;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #6f6d7b;
}
.blue-button {
    background-color: #3e9cdc;
    color: #fff;
    border: 1px solid #fff;
}
.blue-button:hover {
    color: #fff;
}
/* ## FORM ## */
.form-wrapper {
    /* height: 900px; */
    background-color: #272733;
    position: relative;
}

.form-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: url('../images/formbg.png');
    background-size: cover;
    z-index: 0;
}
.form {
    position: relative;
    color: #bbbbbb;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.form__header-block {
    margin-top: 150px;
}
.form__header {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.form__header .active {
    font-size: inherit;
}
.form__sub-header {
    text-align: center;
    font-size: 18px;
}
.steps {
    display: flex;
    align-items: center;
    gap: 10px;
}
.steps__group {
    display: flex;
}
.steps__item {
    text-align: center;
    width: 140px;
}
.steps__dots {
    display: flex;
    gap: 20px;
    align-items: center;
    transform: translateY(-25px);
}
.steps__text {
    font-size: 16px;
    color: #fff;
}
.order-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 150px;
}
.order-form__group {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.order-form__input {
    font-size: 18px;
    padding: 15px 70px 12px 12px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    white-space: nowrap;
}
.order-form__input::placeholder {
    color: #272733;
}
details {
    position: relative;
    min-width: 302px;
}
details[open] summary {
    z-index: 1;
}
details[open] summary {
    background-color: rgba(61, 64, 80, 0.85);
}
details[open] input {
    color: #fff;
    background-color: rgba(61, 64, 80, 0.85);
}
summary {
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
    position: relative;
    right: -50px;
    top: 4px;
}
summary:focus {
    outline: none;
}

details[open] summary:after {
    transform: rotate(135deg) translate(90%, 0%);
}

ul.system-select__list {
    width: 100%;
    background-color: #10101de5;
    position: absolute;
    padding: 18px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3e9cdc #3d4050;
    border: 1px solid #3d4050;
    border-radius: 3px;
    z-index: 1;
}
.system-select__item {
    margin: 0;
    padding: 1rem 0;
    color: #fff;
    font-size: 18px;
    transition-property: all;
    transition-duration: 0.5s;
}

.system-select__item:first-child {
    padding-top: 0;
}

.system-select__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
summary.system-select__inputs {
    counter-reset: system-select__inputs;
}

summary.system-select__inputs:before {
    content: var(--selection);
}

input[type='radio'] {
    counter-increment: system-select__inputs;
    appearance: none;
    display: none;
}

input[type='radio']:checked {
    display: inline;
    --display: block;
}

input[type='radio']:after {
    content: attr(title);
    display: inline;
    font-size: 18px;
}

ul.system-select__list {
    counter-reset: labels;
}

.system-select__item label {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.system-select__item label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}

.input-file {
    position: relative;
    display: inline-block;
    background-color: #fff;
    white-space: nowrap;
}
.input-file span {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    gap: 15px;
    padding-left: 49px;
    cursor: pointer;
    text-transform: uppercase;
    color: #272733;
    height: 40px;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.5s;
}
.input-file input[type='file'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.input-file:hover span {
    color: #43abf0;
}
.order-form-slider__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 74%;
}
.order-form-slider-counter__container {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.order-form-slider__container {
    width: 100%;
}
.order-form-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    border-radius: 15px;
}

.order-form-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #42a9ed;
    border: 3px solid #286690;
    cursor: pointer;
    border-radius: 100px;
}

.order-form-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #42a9ed;
    border: 3px solid #286690;
    cursor: pointer;
    border-radius: 100px;
}
.order-form__submit {
    min-width: 300px;
    font-size: 15px;
    padding: 15px 100px;
    background-color: #3e9cdc;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
}
/* ### FOOTER ### */
.footer-wrapper {
    background-color: rgba(61, 64, 80, 1);
    color: #fff;
    width: 100%;
    height: 80px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    align-items: center;
}
.payments {
    color: #c3c3c3;
}
.footer-links {
    display: flex;
    gap: 40px;
}
.footer-links__item {
    display: flex;
    align-items: center;
}
.footer-links__link {
    transition-property: all;
    transition-duration: 0.5s;
}

.active {
    color: #43abf0;
}
